/* Creates a rounded blue button with center text */
a {
    display: inline-block;
    background-color: lightblue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2em;
}
/* Add the effect of changing color when hovered */
a:hover{
    background-color: teal;
}