/* Exercise 4: Create four boxes insides each other. See image for example */
body {
    margin: 0;
    border: 5px solid black;
    height: 100vh;
    position: relative;
}

/* For class sections created */
.one {
    position: fixed;
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: red;
    z-index: 1;
}
/* Margin based off red square*/
.two {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-top: 25%;
    margin-left: 25%;
    z-index: 2;
}
/* Moved green to top left */
.three {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
    right: 66.6%;
    bottom: 66.6%;
    z-index: 3;
}
/* Blue square to bottom right of green square */
.four {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-top: 50%;
    margin-left: 50%;
    z-index: 4;
}